if [ -d .venv ]; then
  export VIRTUAL_ENV="$PWD/.venv"
  PATH_add "$VIRTUAL_ENV/bin"
fi

export VIDEOS_INPUT="test_videos"
export IMAGES_OUTPUT="test_images"
export GPS_INPUT="test_gps"
export TRAJ_OUTPUT="test_trajectories"
export TRAJ_STATS_OUTPUT="test_trajectories_stats"
